body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
  }
  * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  a:focus {
    outline: 0;
  }
  h2 {
    margin-top: 13%;
    font-size: 40px;
  }
  
 /*  @media screen and (min-width: 961px) {
    .sub.open a {
      background-color: #555 !important;
      color: #fff !important;
    }
  }  
  @media screen and (max-width: 960px) {
    #mobbtn {
      display: block;
    }
    
  }  */
  
  .section {
    padding: 8rem 0 7rem;
    text-align: center;
  }
  .section-heading,
  .section-description {
    margin-bottom: 1.2rem;
  }
  
 /*  main {
    margin-top: 48px; !important;
  } */
  
  .section {
    padding: 8rem 0 7rem;
    text-align: center;
  }
  
  
  /*guardar css begin*/
  
 /*  @media only screen and (max-width: 600px) {
    div.hideMascotForPhone {
      display: none;
    }
  } */
  
  .guardar-image-container{
     display: inline-block;
     float: none;
     margin-left: 0;
     vertical-align: middle;
  }
  
  .guardar-text-container{
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: 45%;
    background-image: url("./assets/images/texturas/popUpBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .form{
    padding: 15px;
    border-radius : 5%;
    background-color: transparent;
    /*background-color: #E8CE9E;
    background-image: radial-gradient(
        #FFEFCD,
        #E8CE9E
      );*/
      
    height: 50%;

  }
  
  .form input {
    width:50%;
    font-family: "Roboto", sans-serif;
    outline: 0;
    border-radius: 4px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    width:40%;
    height: 12%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f9a603;
    border: 1;
    border-radius: 8px;
    border-color: grey;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #f25c00;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  
  .rowBtnGuardar{
    
    margin-top: 4%;
    margin-bottom: -5%;

  }
  .rowBtnRegresar{
    margin-top: -15%;
    width: 44%;
    margin-left: 28%;
  }
  .rowBtnAbandonar{
    margin-top: 3%;
    width: 44%;
    margin-left: 28%;
  }
 
  /*guardar css end*/
  
  .iframeMenuOut{
    background-color: gray;

  }